name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1

      - name: Install pio and its dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio

      - name: Run builds
        run: python ./ci/build.py

      - name: Upload binaries
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: ./build/*.bin
